---
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-configmap
  namespace: {{ namespace }}
data:
  config_yml: |
    {{ lookup('file', 'backend/config.yml') | indent(4) }}
  fluentd_conf: |
    {{ lookup('file', 'fluentd/fluentd.conf') | indent(4) }}
