---
apiVersion: v1
kind: BuildConfig
metadata:
  name: backend 
spec:
  runPolicy: Serial
  triggers:
    - type: ConfigChange
  source:
    git:
      uri: ssh://git@git.97705.net:60022/log-monitor-demo/log-monitor.git
    contextDir: apps/backend
    sourceSecret:
      name: deploy-private-key
  strategy:
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: centos:7
  output:
    to:
      kind: "ImageStreamTag"
      name: "pelin-backend:{{ backend_version }}"
