---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: "backend"
  labels:
    app: "backend"
spec:
  strategy:
    type: Rolling
    rollingParams:
      timeoutSeconds: 600
      maxSurge: "20%"
      maxUnavailable: "10%"
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        containerNames:
          - pelin-backend
        from:
          kind: ImageStreamTag
          name: "pelin-backend:{{ backend_version }}"
  replicas: 2
  selector:
    app: "backend"
  template:
    metadata:
      labels:
        app: "backend"
    spec:
      volumes:
        - name: conf
          configMap:
            name: backend-configmap
      containers:
        - name: pelin-backend
          image: docker-registry.default.svc:5000/{{ namespace }}/pelin-backend:{{ backend_version }}
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /bin/bash
            - -cx
            - /app/pelin-backend/app
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: 1000m
              memory: 1Gi
            limits:
              cpu: '2'
              memory: 2Gi
          volumeMounts:
            - name: conf
              mountPath: /app/pelin-backend/config.yml
              subPath: config_yml
        - name: node-exporter
          image: docker-registry.default.svc:5000/{{ namespace }}/nodex-exporter:0.16.0
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/node_exporter/node_exporter
          ports:
            - containerPort: 9100
              protocol: TCP
          resources:
            requests:
              cpu: 1000m
              memory: 1Gi
            limits:
              cpu: '2'
              memory: 2Gi
        - name: fluentd
          image: docker-registry.default.svc:5000/{{ namespace }}/fluentd:0.12.42
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - fluentd
          resources:
            requests:
              cpu: 1000m
              memory: 1Gi
            limits:
              cpu: '2'
              memory: 2Gi
            volumeMounts:
              - name: conf
                mountPath: /etc/fluent/fluent.conf
                subPath: fluentd_conf
          nodeSelector:
              node-role.kubernetes.io/master: "true"
          terminationMessagePath: "/dev/termination-log"
          imagePullPolicy: IfNotPresent
          restartPolicy: Always
          terminationGracePeriodSeconds: 30
          dnsPolicy: ClusterFirst
