---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: prometheus
spec:
  triggers:
    - type: ConfigChange
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  serviceName: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      volumes:
        - name: conf
          configMap:
            name: prometheus
      containers:
        - name: prometheus
          image: docker-registry.default.svc:5000/{{ namespace }}/prometheus:2.3.1
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/prometheus/prometheus
            - --storage.tsdb.path=/var/lib/prometheus
            - --storage.tsdb.retention=30d
            - --config.file=/etc/prometheus/prometheus.yml
            - --web.listen-address=0.0.0.0:9090
          ports:
            - name: prometheus
              containerPort: 9090
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 4Gi
          volumeMounts:
            - name: conf
              mountPath: /etc/prometheus
            - name: prometheus-data
              mountPath: /var/lib/prometheus
        - name: node-exporter
          image: docker-registry.default.svc:5000/{{ namespace }}/node_exporter:0.16.0
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/node_exporter/node_exporter
            - --no-collector.arp
            - --no-collector.nfs
            - --no-collector.ipvs
            - --no-collector.wifi
            - --no-collector.mdadm
            - --no-collector.zfs
            - --no-collector.infiniband
          ports:
            - name: ndoe-exporter
              containerPort: 9100
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 4Gi
  volumeClaimTemplates:
    - metadata:
        name: prometheus-data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: "nfs-default"
        resources:
          requests:
            storage: 10Gi

# vim:ft=ansible:ts=2:sw=2:softtabstop=2:
