---
apiVersion: v1
kind: Route
metadata:
  name: prometheus
spec:
{% if prometheus_domain_name %}
  host: {{ prometheus_domain_name }}
{% else %}
  host: prometheus.{{ namespace }}.tw.local
{% endif %}
  to:
    kind: Service
    name: prometheus

# vim:ft=ansible
