---
apiVersion: v1
kind: Route
metadata:
  name: grafana
spec:
{% if grafana_domain_name %}
  host: {{ grafana_domain_name }}
{% else %}
  host: grafana.{{ namespace }}.tw.local
{% endif %}
  to:
    kind: Service
    name: grafana

# vim:ft=ansible
