---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: grafana
  labels:
    app: grafana
spec:
  strategy:
    type: Recreate
  triggers:
    - type: ConfigChange
  replicas: 1
  selector:
    app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      volumes:
        - name: conf
          configMap:
            name: grafana
        - name: grafana-data
          persistentVolumeClaim:
            claimName: grafana-data
      containers:
        - name: grafana
          image: docker-registry.default.svc:5000/{{ namespace }}/grafana:5.2.1
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /usr/sbin/grafana-server
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1
              memory: 4Gi
          volumeMounts:
            - name: conf
              mountPath: /opt/grafana/grafana.ini
              subPath: grafana.ini
            - name: grafana-data
              mountPath: /usr/share/grafana/data
# vim:ft=ansible:ts=2:sw=2:softtabstop=2
