---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: fluentd
  labels:
    app: fluentd
spec:
  strategy:
    type: Recreate
  triggers:
    - type: ConfigChange
  replicas: 1
  selector:
    app: fluentd
  template:
    metadata:
      labels:
        app: fluentd
    spec:
      volumes:
        - name: logging-data
          persistentVolumeClaim:
            claimName: logging-data
        - name: conf
          configMap:
            name: fluent
      containers:
        - name: fluentd
          image: docker-registry.default.svc:5000/{{ namespace }}/fluentd:0.12.42
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - fluentd
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 4Gi
          volumeMounts:
            - name: logging-data
              mountPath: /var/log/fluentd
            - name: conf
              mountPath: /etc/fluent/fluent.conf
              subPath: fluent_conf
        - name: node-exporter
          image: docker-registry.default.svc:5000/{{ namespace }}/node_exporter:0.16.0
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/node_exporter/node_exporter
          ports:
            - name: ndoe-exporter
              containerPort: 9100
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 1Gi
# vim:ft=ansible:ts=2:sw=2:softtabstop=2
