<source>
  @type forward
  @id forward_input
</source>

<match nginx.access>
  @type rewrite_tag_filter
  rewriterule0 raw_path /([^/]+).log$ ${tag}.$1
</match>

<match nginx.error>
  @type rewrite_tag_filter
  rewriterule0 raw_path /([^/]+).error.log$ ${tag}.$1
</match>

<match nginx.error.*>
  @type copy
  <store>
      @type forest
      subtype file
      remove_prefix nginx.error
      <template>
        append true
        path /var/log/fluentd/${tag}.error.log.*
        symlink_path /var/log/fluentd/${tag}.error.log
        compress gzip
        format single_value
        #buffer_type memory
      </template>
  </store>
  <store>
    @type elasticsearch
    hosts elasticsearch:9200
    logstash_format true
    include_tag_key true
  </store>
</match>

<match nginx.access.*>
  @type copy
  <store>
    @type forest
    subtype file
    remove_prefix nginx.access
    <template>
      append true
      path /var/log/fluentd/${tag}.log.*
      symlink_path /var/log/fluentd/${tag}.log
      format single_value
      compress gzip
      #buffer_type memory
    </template>
  </store>
  <store>
    @type elasticsearch
    hosts elasticsearch:9200
    logstash_format true
    include_tag_key true
  </store>
</match>

<match fluent.**>
  @type stdout
</match>
