---
apiVersion: v1
kind: Route
metadata:
  name: kibana
spec:
{% if kibana_domain_name %} host: {{ kibana_domain_name }}
{% else %}
  host: kibana.{{ namespace }}.tw.local
{% endif %}
  to:
    kind: Service
    name: kibana

# vim:ft=ansible
