---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: kibana
  labels:
    app: kibana
spec:
  strategy:
    type: Recreate
  triggers:
    - type: ConfigChange
  replicas: 1
  selector:
    app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      volumes:
        - name: conf
          configMap:
            name: kibana
      containers:
        - name: kibana
          image: docker-registry.default.svc:5000/{{ namespace }}/kibana:4.6.6
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/kibana/bin/kibana
            - serve
          ports:
            - name: http
              containerPort: 5601
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1
              memory: 4Gi
          volumeMounts:
            - name: conf
              mountPath: /opt/kibana/config/kibana.yml
              subPath: kibana.yml
# vim:ft=ansible:ts=2:sw=2:softtabstop=2
