---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: elasticsearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  serviceName: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: docker-registry.default.svc:5000/{{ namespace }}/elasticsearch:2.4.6
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /usr/share/elasticsearch/bin/elasticsearch
          ports:
            - name: restapi
              containerPort: 9200
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 2
              memory: 10Gi
          volumeMounts:
            - name: elasticsearch-data
              mountPath: /var/lib/elasticsearch
        - name: node-exporter
          image: docker-registry.default.svc:5000/{{ namespace }}/node_exporter:0.16.0
          imagePullPolicy: Always
          command:
            - /tini
          args:
            - --
            - /opt/node_exporter/node_exporter
            - --no-collector.arp
            - --no-collector.nfs
            - --no-collector.ipvs
            - --no-collector.wifi
            - --no-collector.mdadm
            - --no-collector.zfs
            - --no-collector.infiniband
          ports:
            - name: ndoe-exporter
              containerPort: 9100
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 4Gi
          volumeMounts:
            - name: elasticsearch-data
              mountPath: /var/lib/elasticsearch
  volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: "ceph-default"
        resources:
          requests:
            storage: 100Gi

# vim:ft=ansible:ts=2:sw=2:softtabstop=2:
